.block{
  background-color: #fff;
  margin-bottom: 6px;
}
.itemView6{
  display: flex;
  align-items: center;
  padding: 10px 0
}
.itemView61{
  display: inline-block;
  width: 10px;
  height: 30px;
  background-color: #13C2C2;
}
.itemView62{
  font-size: 30px;
  margin-left: 10px;
  color: #666;
}

.itemView7{
  padding: 10px;
  font-size: 26px;
  color: #333;
}
.itemView71{
  padding: 10px;
  display: flex;
  align-items: center;
}

.itemView72{
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  flex: 1;
}
.evaluateBtn{
  display: inline-block;
  color: #333;
  font-size: 24px;
  padding: 12px;
  border-radius: 8px;
  margin-right: 10px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}
.evaluateBtnActive{
  display: inline-block;
  background-color: #13C2C2;
  color: #fff;
  font-size: 24px;
  padding: 12px;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.itemView73{
  border: 1px solid #eee;
  margin: 20px 10px;
  padding: 15px;
  width: 97%;
  box-sizing: border-box;
}
.bottomBtnGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottomBtn{
  display: inline-block;
  width: 80%;
  height: 50px;
  font-size: 30px;
  background-color: #13C2C2;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;

}
